library.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2021 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ISBN">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="123"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="author">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ahmed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="ISBN"/>
				<xs:element ref="author"/>
				<xs:element ref="preface"/>
				<xs:element ref="parts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="books">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="chapter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="summary"/>
				<xs:element ref="sections"/>
			</xs:sequence>
			<xs:attribute name="title" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ch1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="desc"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="librarian">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ahmed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="library">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="location"/>
				<xs:element ref="description"/>
				<xs:element ref="librarian"/>
				<xs:element ref="books"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="location"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="p">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
				<xs:enumeration value="b"/>
				<xs:enumeration value="c"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="chapter"/>
			</xs:sequence>
			<xs:attribute name="title" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="book1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="parts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="preface">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="abcd"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="p"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="summary">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="abc"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="book1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
